body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
  margin-top: 100px;
}

.container {
  background: white;
  padding: 30px;
  width: 400px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: gray;
}

a {
  color: blue;
  font-weight: bold;
}